@import "../../Sass/resposive";

.card {
	padding: 1rem;
	transition: all 0.25 linear;
	@include breakpoint(mobile) {
		width: 100%;
	}
	@include breakpoint(tablet) {
		width: 50%;
	}
	@include breakpoint(laptop) {
		width: (100%/3);
	}
	&:hover {
		transform: translateY(-0.5rem);
	}
	img {
		width: 100%;
		object-fit: fill;
	}
	& > button {
		width: 100%;
		border: 1px solid black;
	}
	a {
		text-decoration: none;
		color: black;
	}
}
.cardInformation {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	p {
		font: 700 larger;
	}
}
